<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" />
    <title>Hamburger Navbar</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <img src="../public/logo_transparent.png" alt="logo" width="90px" height="60px">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Volunteer</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Add Your Colleges</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Our Team</a>
                </li>
  
                <li class="nav-item">
                    <a href="#" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/admin" class="nav-link">Admin</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section id="home"> 
        <h2>Enhance Your Future</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repudiandae iste provident, animi omnis officia nihil. Hic expedita iste, quo doloribus esse nulla ducimus explicabo facilis. Temporibus deserunt ab pariatur iure?</p>
        <div class="btn">
            <a class="blue" href="#"> Learn More</a>
            <a class="yellow" href="#"> Visit Courses</a>
        </div>
    </section>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="rgba(48, 39, 39, 0.888)" fill-opacity="1" d="M0,160L15,138.7C30,117,60,75,90,48C120,21,150,11,180,48C210,85,240,171,270,213.3C300,256,330,256,360,229.3C390,203,420,149,450,154.7C480,160,510,224,540,218.7C570,213,600,139,630,112C660,85,690,107,720,106.7C750,107,780,85,810,80C840,75,870,85,900,128C930,171,960,245,990,245.3C1020,245,1050,171,1080,154.7C1110,139,1140,181,1170,192C1200,203,1230,181,1260,165.3C1290,149,1320,139,1350,117.3C1380,96,1410,64,1425,48L1440,32L1440,0L1425,0C1410,0,1380,0,1350,0C1320,0,1290,0,1260,0C1230,0,1200,0,1170,0C1140,0,1110,0,1080,0C1050,0,1020,0,990,0C960,0,930,0,900,0C870,0,840,0,810,0C780,0,750,0,720,0C690,0,660,0,630,0C600,0,570,0,540,0C510,0,480,0,450,0C420,0,390,0,360,0C330,0,300,0,270,0C240,0,210,0,180,0C150,0,120,0,90,0C60,0,30,0,15,0L0,0Z"></path></svg>
    <section id="features">
    <h1>Awesome Features</h1>
    <p>Replenish man have thing gathering lights yeilding shall you</p>
    <div class="fea-base">
        <div class="fea-box">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Scholarship Facility</h3>
            <p>One make creepeth, man bearing theira firmament won't get heaven</p>
        </div>

        <div class="fea-box">
            <i class="fa-solid fa-file-certificate"></i>
            <h3>Dell Online Course</h3>
            <p>One make creepeth, man bearing theira firmament won't get heaven</p>
        </div>

        <div class="fea-box">
            <i class="fa-solid fa-graduation-cap"></i>
            <h3>Global Certification</h3>
            <p>One make creepeth, man bearing theira firmament won't get heaven</p>
        </div>
    </div>
</section>


<!-- courses -->

<section id="course">
    <h1>Our Popular Courses</h1>
    <p>Replenish man have thing gathering lights yeilding shall you</p>
    <div class="course-box">

        <div class="courses">
            <img src="../public/images/c1.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/c2.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/c3.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/c4.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/c5.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>

        <div class="courses">
            <img src="../public/images/c6.jpg" alt="">
            <div class="details">
                <span>Updated 03/05/22</span>
                <h6>javascript beginners course</h6>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(239)</span>
                </div>
            </div>
            <div class="cost">
                $49.99
            </div>
        </div>
    </div>
</section>
<!-- Registration -->
<section id="registration">
    <div class="reminder">
    <p>Get 100 Online Courses for Free</p>
    <h1>Register To Get It</h1>
    <div class="time">
<div class="date">
18 <br> Days
</div>
<div class="date">
23 <br> Hours
</div>
<div class="date">
06 <br> Minutes
</div>
<div class="date">
58 <br> Seconds
</div>
</div>
</div>
<div class="form">
<h3>Create Free Account NOW!</h3>
<input type="text" placeholder="Name" name="" id="">
<input type="text" placeholder="Eamil Address" name="" id="">
<input type="text" placeholder="Phone NUmber" name="" id="">
<div class="btn">
<a class="blue" href="#">Submit Form</a>
</div>
</div>
</section>
<l-- Profiles -->
<section id="experts">
<h1>Community Experts</h1>
<p>Replenish man have thing gathering lights yielding shall you </p>
<div class="expert-box">
<div class="profile">
<img src="../public/images/pro1.webp" alt="">
<h6>Ema Irnik</h6>
<p>Python & Algorithm Expert </p>
<div class="pro-links">
<i class="fab fa-facebook-f"></i>
<i class="fab fa-instagram"></i>
<i class="fab fa-linkedin-in"></i>
</div>
</div>
<div class="profile">
    <img src="../public/images/pro1.webp" alt="">
    <h6>Ema Irnik</h6>
    <p>Python & Algorithm Expert </p>
    <div class="pro-links">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    </div>
    </div>
    <div class="profile">
        <img src="../public/images/pro1.webp" alt="">
        <h6>Ema Irnik</h6>
        <p>Python & Algorithm Expert </p>
        <div class="pro-links">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
        </div>
        </div>
        <div class="profile">
            <img src="../public/ images/pro1.webp" alt="">
            <h6>Ema Irnik</h6>
            <p>Python & Algorithm Expert </p>
            <div class="pro-links">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
            </div>
            </div>
</div>
</section>
<footer>
    <div class="footer-col">
    <h3>Top Products</h3>
    <li>Manage Reputation</li>
    <li>Power Tools</li>
    <li>Managed Website</li>
<li>Marketing Service</li>
</div>
<div class="footer-col">
<h3>Top Products</h3>
<li>Power Tools</li>
<li>Jobs</li>
<li>Marketing Service</li>
<li>Manage Reputation</li>
</div>
<div class="footer-col">
<h3>Top Products</h3>
<li>Power Tools</li>
<li>Managed Website</li>
<li>Manage Reputation</li>
<li>Marketing Service</li>
</div>
<div class="footer-col">
    <h3>Guides</h3>
    <li>Research</li>
    <li>Experts</li>
    <li>Managed Website</li>
    <li>Marketing Service</li>
    </div>
    <div class="footer-col">
    <h3>Newsletter</h3>
    <p>You can trust us. we only send promo offers, </p>
    <div class="subscribe">
    <input type="text" placeholder="Your Email address">
    <a href="#" class="yellow">SUBSCRIBE</a>
    </div>
    <div class="copyright">
    <!-- <p></p> -->
    <div class="pro-links">
    <i class="fab fa-facebook-f"></i>
    <i class="fab fa-instagram"></i>
    <i class="fab fa-linkedin-in"></i>
    </div>
    </div>
    </footer>
</body>

<script src="../public/index.js"></script>
</html>